@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.this__footer {
  min-height: 400px;
  background-color: #0e9749;
}

.section__one,
.section__two,
.section__three,
.section__four,
.section__five,
.section__six,
.this__footer {
  font-family: "Lato", sans-serif;
}

.sliderOne,
.sliderTwo,
.sliderThree {
  height: 800px;
  width: 100%;
  background-color: lightgreen;
}

.sliderOne {
  background-image: url("../public/images/farmer3.jpg");
  background-size: cover;
}

.sliderTwo {
  background-image: url("../public/images/farmer2.jpg");
  background-size: cover;
}

.sliderThree {
  background-image: url("../public/images/farmes1.jpg");
  background-size: cover;
}

.section__four {
  min-height: 450px;
}

.swiper {
  min-height: 350px;
}

.section__six,
.form__maps,
.form__kritik {
  min-height: 600px;
}

#searchInput {
  height: 33px;
  width: 192px;
  text-indent: 5px;
}

#searchInput[type="text"] {
  font-size: 15px;
  font-style: italic;
  font-family: "Lato", sans-serif;
}

#seachInput::placeholder {
  font-size: 15px;
  font-style: italic;
  font-family: "Lato", sans-serif;
  text-indent: 0px;
}

input {
  height: 55px;
  border-radius: 10px;
  text-transform: capitalize;
}

input:nth-child(4) {
  height: 110px;
}

input[type="text"] {
  font-size: 18px;
  font-style: italic;
  font-family: "Lato", sans-serif;
  text-indent: 20px;
}

input:focus {
  border: 2px solid rgb(173, 173, 255);
  outline: blue;
}

input::placeholder {
  font-size: 18px;
  font-style: italic;
  font-family: "Lato", sans-serif;
  text-indent: 20px;
}
